body{
    background-color: #0F1035;
  }
  .register-containers {
      width: 300px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color:#0F1035;
     
    }
    .Names,.pwd,.email{
      color: white;
    }
  .registers_title{
    display: flex;
      align-items: center;
      justify-content: center;
      color: white; 
  }
    .center-containers {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Set height to 100% of the viewport height */
    }
  
    .form-groups {
      margin-bottom: 15px;
    }
    .nametext,.emailtext,.pwdtext{
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
  
    .submit{
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
   .submit:hover {
      background-color: #0056b3;
    }
    