.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s;
}

.header-bg {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px; /* Increase image width */
  margin-right: 30px; /* Add margin to create space between image and text */
}

.logo h2 {
  font-size: 30px;
  margin: 0; /* Remove margin */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  list-style: none;
  
  margin-right: 50px;
}

.nav-menu li a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: #777777;
}
